/.vscode/*

/data/cd/sc-log/*
!/data/cd/sc-log/.gitkeep
/data/cd/*
!/data/cd/.gitkeep
/data/cm/sc-log/*
!/data/cm/sc-log/.gitkeep
/data/cm/*
!/data/cm/.gitkeep
/data/mssql-data/*
!/data/mssql-data/.gitkeep
/data/mssql-data/*
!/data/mssql-data/.gitkeep
/data/solr-data/*
!/data/solr-data/.gitkeep
/data/traefik/certs/*
!/data/traefik/certs/.gitkeep